{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4">
    <section class="my-12 text-center">
        <h2 class="text-3xl font-bold primary-color mb-4">Welcome to ChatSQL</h2>
        <p class="mb-6">ChatSQL is an interactive chat application that allows you to generate SQL queries from natural language. Powered by AI, it simplifies database interactions.</p>
        
        <!-- sample chat display -->
        <div class="bg-secondary-color shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-md mx-auto">
            <div class="mb-4 h-48 overflow-y-auto">
                <!-- static sample converstation -->
                <div class="text-right">
                    <span class="inline-block bg-blue-500 rounded px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">What is the total revenue?</span>
                </div>
                <div class="text-left">
                    <span class="inline-block bg-green-600 rounded px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">The total revenue is $1,234,567.</span>
                </div>
            </div>
        </div>

        <!-- tut steps -->
        <div class="bg-secondary-color p-6 rounded-lg mb-6 mx-auto">
            <h3 class="text-2xl font-bold mb-3 primary-color">How to Use</h3>
            <ul class="list-disc pl-5 text-left mx-auto" style="max-width: 600px;">
                <li>Go to the chat page and type your question like "What is the total revenue?"</li>
                <li>The bot will respond with the generated SQL query result, such as "The total revenue is $1,234,567."</li>
                <li>Review the query results displayed by the bot in the chat interface.</li>
            </ul>
        </div>

        <!-- "Try Now" button -->
        <div class="text-center">
            <a href="/upload-db" style="background-color: #d4a373;" class="hover:bg-opacity-75 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline inline-block transition duration-300 ease-in-out relative try-now-btn">
                Try Now
            </a>
        </div>
    </section>
</div>

<!-- shimmer snimation styles -->
<style>
    .try-now-btn {
        position: relative;
        overflow: hidden;
    }

    .try-now-btn:hover::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
        animation: shimmer 1.5s infinite;
    }

    @keyframes shimmer {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }
</style>
{% endblock %}
