{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col md:flex-row items-center justify-center min-h-screen py-12 bg-secondary-color gap-8">
    <!-- Upload Database Form -->
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 w-full max-w-md">
        <h3 class="text-2xl font-bold text-gray-800 mb-4 text-center">Upload Your Database</h3>
        <form action="{{ url_for('upload_db') }}" method="post" enctype="multipart/form-data" class="mb-4">
            <input type="file" name="file" accept=".db,.sqlite,.sqlite3" class="mb-4" />
            <button type="submit" class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
                Upload
            </button>
        </form>
    </div>

    <!-- Sample Databases List -->
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 w-full max-w-md">
        <h3 class="text-2xl font-bold text-gray-800 mb-4 text-center">Choose a Sample Database</h3>
        <div class="flex flex-col">
            {% for i in range(1, 6) %}
            <a href="{{ url_for('select_sample_db', db_name='sample_' ~ i ~ '.db') }}" class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-2 transition duration-300 ease-in-out">
                Sample {{ i }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
